$color-theme: #181C28;
$color-lighttheme: #292D39;
$color-white: #FFFFFF;
$color-black: #000000;
$color-red: #ff0000;
$color-grey-light: #D0D0D0;
$color-persian-green: #06A99C;
$color-cold-purple: #9D92B2;
$color-purple-light: #9D92B2;
