.header {
  // overflow: hidden;
  background-color: $color-lighttheme;
  z-index: 1;

  position: fixed;
  width: 100%;

  &__logo{
    padding: 1%;
  }

  &__right {
    position: absolute;
    left: 89%;
    top: 15%
  }

  &__roundlogo{
    right: 50%;
    width: 35%;
    position: relative;
  }

  &__dropdown{
    bottom: 40px;
    background-color: $color-lighttheme !important;
  }
}
